* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Raleway', sans-serif; 
}


.carousel-item img {
    height: 350px;
}

.productos h3 {
    margin-left: 500px;
}

.titulo1 {
    text-align: center;
    color: rgb(0, 0, 0);
    background-color: rgba(75, 75, 75, 0.226);
}

.productos ul li {
    display: flex;
    align-items: center;
    
}

.productos ul li img {
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 85px;
    transition: 0.5s;
}



.productos ul li img:hover{
    transform: scale(0.9);
}

.productos ul li a {
    text-decoration: none;

}

.productos ul li a:hover {
    color: brown;
    text-align: center;
    
}

  /* imagenes de los productos */

.titulo__imagen1 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0); 
    padding: 0px 60px;
    position: absolute;
    bottom: 1050px;
    left: 20.5%;
    transform: translateX(-50%);
  }

.titulo__imagen2 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 0px 60px; 
    position: absolute;
    bottom: 1050px;
    left: 49%;
    transform: translateX(-50%);
  }

.titulo__imagen3 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 0px 64px;
    position: absolute;
    bottom: 1050px;
    left: 77.5%;
    transform: translateX(-50%);
  }

.titulo__imagen4 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 0px 102px;
    position: absolute; 
    bottom: 790px; 
    left: 20.5%;
    transform: translateX(-50%);
  }

.titulo__imagen5 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 0px 27px; 
    position: absolute;
    bottom: 790px; 
    left: 49%; 
    transform: translateX(-50%);
  }

.titulo__imagen6 {
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    padding: 0px 80px;
    position: absolute;
    bottom: 790px;
    left: 77.5%;
    transform: translateX(-50%);
  }

  /* seccion productos mas vendidos */

.titulo2 {
    text-align: center;
    color: rgb(2, 1, 1);
    background-color: rgba(75, 75, 75, 0.226);
  }

.productos-mas-vendidos {
    background-color: rgba(255, 255, 255, 0.822);
  }

.productos-mas-vendidos ul li img {
    overflow: hidden;
    width: 250px;
    height: 250px;
    margin-bottom: 10px;
    margin-left: 85px;
    transition: 0.5s;
    box-sizing: border-box;
  }

.productos-mas-vendidos ul li {
    display: inline-block;
    
  }

.cont-pnv ul li p {
    margin-left: 180px;
    font-size: 20px;
  }

.cont-pnv ul li a {
    margin-left: 180px;
  }

.cont-pnv .quantity-nav {
    position: absolute;
    height: 45px;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
}

.container {
    text-align: center;
  }
  
.boton {
    background-color: #4CAF50; /* Color de fondo del botón */
    color: white; /* Color del texto del botón */
    border: none; /* Sin borde */
    padding: 10px 20px; /* Espacio alrededor del texto */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
  }

.instagram h4 {
    text-align: center;
    background-color: rgba(75, 75, 75, 0.226);
  }

.instagram h4 a{
    color: rgb(0, 0, 0);
    align-items: center;
    text-align: center;
    text-decoration: none;
  }

.instagram h4 a:hover {
    color: rgb(255, 91, 91);
  }

.logo__footer {
    margin-left: 580px;
    color: black;
  }

.logo__footer:hover {
    color: brown;
  }

.img-mv1 {
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.5s;
  }

  /*nooo .img-mv1:hover {
    transform: scale(1.1)
  } */

.img-mv2 {
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.5s;
  }

  /* noooo.img-mv2:hover {
    transform: scale(1.1)
  } */

.img-mv3 {
    overflow: hidden;
    margin-bottom: 10px;
    transition: 0.5s;
  }

  /* .img-mv3:hover {
    transform: scale(1.1)
  } */

  /* footer */

.footer {
    display: block;
    text-align: center;
  }

.pie {
    text-align: center;
  }

.btn-group {
    color: rgb(0, 0, 0);
  }

.boton-d {
    margin-left: -70px;
  }

  /* boton selector de productos */

.img-mv1 .bot1 {
    width: 140px;;
  }

.img-mv2 .bot1 {
    width: 140px;;
  }

.img-mv3 .bot1 {
    width: 140px;;
  }

.boton-footer {
    margin: 10px;
    
}

.boton-footer button {
    width: 100px;
    height: 50px;
    background-color: #00000065;
    border-radius: 48%;
}

.boton-footer button:hover {
    background-color:#4CAF50;
    color: white;
}

@media (max-width: 800px){
    .carousel-item img {
        height: 250px;
    }

    .productos ul li img {
        overflow: hidden;
        width: 150px;
        height: 150px;
        margin-bottom: 10px;
        margin-left: 40px;
        transition: 0.5s;
    }

    .titulo__imagen1 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0); 
        padding: 0px 20px;
        position: absolute;
        bottom: 1726px;
        left: 20.5%;
        transform: translateX(-50%);
      }
    
    .titulo__imagen2 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 17px; 
        position: absolute;
        bottom: 1726px;
        left: 49%;
        transform: translateX(-50%);
      }
    
    .titulo__imagen3 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 5px;
        position: absolute;
        bottom: 1720px;
        left: 77.5%;
        transform: translateX(-50%);
      }
    
    .titulo__imagen4 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 60px;
        position: absolute; 
        bottom: 1566px; 
        left: 21%;
        transform: translateX(-50%);
      }
    
    .titulo__imagen5 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 3px 8px; 
        position: absolute;
        bottom: 1566px; 
        left: 48.5%; 
        transform: translateX(-50%);
        font-size: 22px;
      }
    
    .titulo__imagen6 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 28px;
        position: absolute;
        bottom: 1566px;
        left: 76%;
        transform: translateX(-50%);
      }
}    

@media (max-width: 700px){
        .carousel-item img {
            height: 200px;
        }

        .productos ul li img {
            overflow: hidden;
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
            margin-left: 35px;
            transition: 0.5s;
        }

        .productos ul li img {
            overflow: hidden;
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
            margin-left: 40px;
            transition: 0.5s;
        }
    
        .titulo__imagen1 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0); 
            padding: 0px 18px;
            position: absolute;
            bottom: 1720px;
            left: 24%;
            transform: translateX(-50%);
          }
        
        .titulo__imagen2 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0);
            padding: 0px 17px; 
            position: absolute;
            bottom: 1720px;
            left: 55%;
            transform: translateX(-50%);
          }
        
        .titulo__imagen3 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0);
            padding: 0px 5px;
            position: absolute;
            bottom: 1720px;
            left: 85%;
            transform: translateX(-50%);
          }
        
        .titulo__imagen4 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0);
            padding: 0px 55px;
            position: absolute; 
            bottom: 1560px; 
            left: 24%;
            transform: translateX(-50%);
          }
        
        .titulo__imagen5 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0);
            padding: 3px 8px; 
            position: absolute;
            bottom: 1560px; 
            left: 55%; 
            transform: translateX(-50%);
            font-size: 22px;
          }
        
        .titulo__imagen6 {
            background-color: rgba(255, 255, 255, 0.603);
            color: rgb(0, 0, 0);
            padding: 0px 29px;
            position: absolute;
            bottom: 1560px;
            left: 85.5%;
            transform: translateX(-50%);
          }
}        

@media (max-width: 550px){
    .carousel-item img {
        height: 200px;
    }

    .productos ul li img {
        overflow: hidden;
        width: 100px;
        height: 100px;
        margin-bottom: 10px;
        margin-left: 35px;
        transition: 0.5s;
    }

    .titulo__imagen1 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0); 
        padding: 0px 18px;
        position: absolute;
        bottom: 1690px;
        left: 24%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    
    .titulo__imagen2 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 17px; 
        position: absolute;
        bottom: 1690px;
        left: 52%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    
    .titulo__imagen3 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 5px;
        position: absolute;
        bottom: 1690px;
        left: 80%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    
    .titulo__imagen4 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 55px;
        position: absolute; 
        bottom: 1583px; 
        left: 24%;
        transform: translateX(-50%);
        font-size: 20px;
      }
    
    .titulo__imagen5 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 3px 8px; 
        position: absolute;
        bottom: 1583px; 
        left: 52%; 
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen6 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 16px;
        position: absolute;
        bottom: 1583px;
        left: 79%;
        transform: translateX(-50%);
        font-size: 20px;
      }

      .foot-info input{
        width: 120px;
        height: 20px;
      }

      label .number {
        display: flex;
      }
    
}        

@media (max-width: 500px){
            .carousel-item img {
                height: 150px;
            }
            
            .productos ul li img {
                overflow: hidden;
                width: 80px;
                height: 80px;
                margin-bottom: 10px;
                margin: auto;
                transition: 0.5s;
            }

            .titulo__imagen1 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0); 
                padding: 0px 18px;
                position: absolute;
                bottom: 1650px;
                left: 22%;
                transform: translateX(-50%);
                font-size: 15px;
              }
            
            .titulo__imagen2 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0);
                padding: 0px 17px; 
                position: absolute;
                bottom: 1650px;
                left: 54%;
                transform: translateX(-50%);
                font-size: 15px;
              }
            
            .titulo__imagen3 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0);
                padding: 0px 10px;
                position: absolute;
                bottom: 1653px;
                left: 85%;
                transform: translateX(-50%);
                font-size: 15px;
              }
            
            .titulo__imagen4 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0);
                padding: 0px 29px;
                position: absolute; 
                bottom: 1573px; 
                left: 22%;
                transform: translateX(-50%);
                font-size: 15px;
              }
            
            .titulo__imagen5 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0);
                padding: 3px 8px; 
                position: absolute;
                bottom: 1573px; 
                left: 53.5%; 
                transform: translateX(-50%);
                font-size: 10px;
              }
            
            .titulo__imagen6 {
                background-color: rgba(255, 255, 255, 0.603);
                color: rgb(0, 0, 0);
                padding: 0px 15px;
                position: absolute;
                bottom: 1573px;
                left: 84.5%;
                transform: translateX(-50%);
                font-size: 15px;
              }

              .foot-info input{
                width: 120px;
                height: 20px;
              }
            

}            

@media (max-width: 440px){
    .carousel-item img {
        height: 100px;
    }
            
    .productos ul li img {
         overflow: hidden;
         width: 80px;
         height: 80px;
        margin-bottom: 10px;
        margin: auto;
        transition: 0.5s;
    } 

    .productos ul li img {
        overflow: hidden;
        width: 80px;
        height: 80px;
        margin-bottom: 10px;
        margin: auto;
        transition: 0.5s;
    }

    .titulo__imagen1 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0); 
        padding: 0px 18px;
        position: absolute;
        bottom: 1702px;
        left: 22%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen2 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 17px; 
        position: absolute;
        bottom: 1702px;
        left: 54%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen3 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 10px;
        position: absolute;
        bottom: 1702px;
        left: 85%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen4 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 29px;
        position: absolute; 
        bottom: 1622px; 
        left: 24%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen5 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 3px 8px; 
        position: absolute;
        bottom: 1622px; 
        left: 54.5%; 
        transform: translateX(-50%);
        font-size: 10px;
      }
    
    .titulo__imagen6 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 15px;
        position: absolute;
        bottom: 1622px;
        left: 84.5%;
        transform: translateX(-50%);
        font-size: 15px;
      }

      .foot-info input{
        width: 100px;
        height: 20px;
      }
}

@media (max-width: 370px){
    .titulo__imagen1 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0); 
        padding: 0px 18px;
        position: absolute;
        bottom: 1728px;
        left: 22%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen2 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 17px; 
        position: absolute;
        bottom: 1728px;
        left: 54%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen3 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 10px;
        position: absolute;
        bottom: 1728px;
        left: 85%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen4 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 29px;
        position: absolute; 
        bottom: 1648px; 
        left: 24%;
        transform: translateX(-50%);
        font-size: 15px;
      }
    
    .titulo__imagen5 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 3px 8px; 
        position: absolute;
        bottom: 1648px; 
        left: 54.5%; 
        transform: translateX(-50%);
        font-size: 10px;
      }
    
    .titulo__imagen6 {
        background-color: rgba(255, 255, 255, 0.603);
        color: rgb(0, 0, 0);
        padding: 0px 15px;
        position: absolute;
        bottom: 1648px;
        left: 84.5%;
        transform: translateX(-50%);
        font-size: 15px;
      }

      .foot-info input{
        width: 80px;
        height: 10px;
      }
}
